# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

auto-save-list/
elpa/
.python-environments/
/ac-comphist.dat
/recentf
/abbrev_defs
/ido.last
/tramp
/projectile-bookmarks.eld
/projectile.cache
bookmarks